<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.GeneratorMapper">


	<!-- 通用查询映射结果 -->
	<resultMap id="colResultMap" type="com.generator.model.ColumnDo">
		<id column="COLUMN_NAME" property="name" />
		<id column="DATA_TYPE" property="jdbcType" />
		<id column="COLUMN_COMMENT" property="comment" />
		<id column="TABLE_NAME" property="tableName" />
	</resultMap>



	<select id="findListColumn" parameterType="java.lang.String" resultMap="colResultMap">
		SELECT COLUMN_NAME, DATA_TYPE, TABLE_NAME, COLUMN_COMMENT
		from INFORMATION_SCHEMA.Columns
		where
			table_name in
			<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			        #{item}
			</foreach>
	</select>

</mapper>
